API_KEY=cgRsROk8khb0f+LL8N1J1MZc
NEXT_PUBLIC_API_URL=http://localhost
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=0ec4d956600492e5a0d138915644d100
PRIVATE_KEY=`-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEA+yUkonzsXu3CIQn6czy8/1js/Ut6FAGtOCnbPNKZltwWZOMz
NnQGUvtDUqMZ92n/tW6zAa/3Fe/23K8fSj+cTmcyiDhJPRw6Mei8/mimHxT+vut/
tWakA+GBFtwc8eQUNzvtkxz8RvhNPKTHLo7slpWNPcSb+cA4MfW0aqpe5b1QX9F3
7h6FI9oU2hthp188Qqb+4Fh3USTho2IG9IHGHDtuTqqXU/h5bkeBt0B+PbeNdb8V
rqd2Ruu2PlMVCv/CvV0L7Xm0ClUybt/ry9BS99GDN81AuBGLvyHBaufbyelhAW2m
piNu8FVOhpoXjUdheoiYLFoNg3mKu85BjydAJwIDAQABAoIBAFYRuKhnH6q42Nrx
zH9JxYvNMgrsnv3URUUGMzh5BGILMzGIG7kBslkl+0CK3Q9JqHTJZ1egspE2F+gx
rAuKGUtVWqAMii0DS35nQL3/p07npxZPJwlID9W0psTq0pCjlboIM7dDK8I2vmGW
JxzxpmtE/Y65nqrNEXUtu5MCqFsbBG9LETYTtaDbpPQhnC8y7wOavN4iRd/xuiUo
FQVVC0jxlfNEIooQt9oi5BD09xpY5gNMFBqVaHYl1BZ0ULzUb6olm1xQ+Mu713Q6
HO3U0qF3fmvNUzT1WVMNGFLMalb4sd2aAglkOl9gpftJAIpntkOhUee5YMzuSkig
yGJLb0ECgYEA/3m7Mlkj2mMKL5gAKcY7OiDfosdbRX2gdTUDqPbfHJNQt/gKlJs+
uPV4gCih4m66OaeTuBwXer89HJMLPNJ4MAxJc4x+2KS+W5873pcru3PRtnktVp4N
zTN/pNe8+yoIeeMOe9Gnb+juLSY+gpB0IMiR3T9PLwiD7ZKsHCJbvakCgYEA+6ki
zcxc95HKxMDqHKbWnPrHCQTNL5zPrCLXtWugMXfPUvAQgvJ/0/Pr+kOb06qyvAbc
udIZxd+DFHIO0Woe15j9SJIUMY7XxYfoD9nB/lhvOnKIw9Lib57vzsu9K3LA14uo
WMs0DfEqP9UtK9AwBm+WGlakXzTNryLl3J/zkU8CgYB0qjp6O4rL5/52zYsFiKjz
Wp/FzhQ4H65u187cEiDBA+UQngz24A48mJx2qheDN92DBqvGn815GGvn6J5xIAwS
pQnF4prqhBEJ9iV4+L/X0oQqOBwkOflDhAj+VibO69sDDlVG5e74g/6AT76sERt2
/SDfUFHwwIq+qwQ9tNMAQQKBgHPfEV5OTTPUFdd3t5NPohsPQFs/sbXNbrUkKcun
bU+5iWT3kbKpMwAFHE7TmEjiHH+EbVbFjQZVfkYIqhfz05WTJHOohtG2olSZ2diK
e86/Kx9vItd/HrEkLeg6WLRLlsznybBwh1wwATL41V6J8cLU1/jykaYgat/Loqht
oTjzAoGAHwHq1o9BSFWR2gBkqWKlrxSDEClUaWBLtcSAlXNOCNqj0vXzU4Agt6vY
FXgXDrLHviJNKaMVEANUnw9A3K4YhF6EppGkJYnq2ScSXpjdvZrkuu4Nq627x9Tz
zlFzB3KlzcVeVb+D9jFOb/5uYW6ts2msPczNUAgTToV9WCKs5G0=
-----END RSA PRIVATE KEY-----
`